.footer_content{
    margin: 44px 37px 44px 46px;
    display: flex;
}

.form__container{
    display: flex;
    flex-direction: column;
}

.form__title{
    font-size: 16px;
    line-height: 140%;
    color: #292C35;
}

.form{
    margin: 18px 0 14px;
}

.form__input{
    border: 1px solid #D8D8D8;
    border-radius: 40px;
    background-color: #FFF;
    padding: 9px 16px;
}

.form__button{
    font-size: 15px;
    line-height: 18px;
    color: #FFF;
    background-color: #FF7144;
    padding: 12px 21px;
    margin: 10px 0;
    border-radius: 27px;
    border: none;
    cursor: pointer;
}

.form__button:hover{
    filter: brightness(110%);
    text-decoration: underline;
}

.form__button:active{
    filter: brightness(120%);
    text-decoration: underline;
}

.form__additional-text{
    font-size: 14px;
    opacity: 0.6;
    line-height: 140%;
}

.links-list{
    list-style: none;
    padding: 0;
    margin: 0 0 0 121px;
}

.links-list__title{
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 140%;
    color: #292C35;
}

.links-list__item{
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 15px;
    color: #292C35;
    opacity: 0.8;
    cursor: pointer;
}

.socials{
    list-style: none;
    padding: 0;
    margin-left: auto;
    display: flex;
}

.socials__icon{
    margin: 0 30px;
    cursor: pointer;
}

.footer__logo{
    text-align: center;
}

.footer__copyright-content{
    display: flex;
    font-size: 14px;
    line-height: 140%;
    color: #CCC8C2;
    margin: 10px 42px;
}
.footer__copyright{
    margin-right: auto;
}

.footer__terms{
    margin: 0 50px;
    cursor: pointer;
}

@media (max-width: 1024px){
    .footer__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:  0 10px;
    }
    .footer__logo-image{
        transform: scale(0.6);
    }
}

@media (max-width: 767px){
    .links-list{
        margin: 3px 0 0 40px;
        flex-grow: 1;
    }
    .socials{
        flex-direction: column;
        justify-content: space-around;
    }
    .footer__logo-image{
        transform: scale(0.4);
    }

}

@media (max-width: 320px){
    .footer_content{
        margin: 10px 15px 30px;
        flex-direction: column;
    }
    .form__container{
        align-items: center;
        margin: 0 0 30px;
    }
    .form{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__logo-image{
        transform: scale(0.2);
    }
    .links-list{
        margin: 0;
    }
    .socials{
        margin: 0;
        justify-content: center;
    }
    .footer__copyright{
        font-size: 8px;
        line-height: 110%;
    }
}