.info__container{
    margin: 67px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__title{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color:#292C35;
    display: flex;
    flex-direction: column;
}

.info__button{
    font-size: 15px;
    line-height: 18px;
    color: #FFF;
    background-color: #FF7144;
    padding: 12px 21px;
    margin: 10px 0;
    border-radius: 27px;
    border: none;
    cursor: pointer;
}

.info__button:hover{
    filter: brightness(110%);
    text-decoration: underline;
}

.info__button:active{
    filter: brightness(120%);
    text-decoration: underline;
}

.info__image-container{
    display: flex;
}

.info__tile{
    background-color: #FAFAFA;
    border-radius: 30px;
    margin: 0 3px;
    padding: 32px;
    width: 271px;
    height: 271px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info__tile-text--main{
    font-size: 18px;
    line-height: 120%;
    color:#292C35;
    text-align: center;
    margin-bottom: 6px;
}

.info__tile-text--secondary{
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color:#292C35;
    opacity: 0.7;
}

@media (max-width: 1024px){
    .info__container{
        flex-direction: column;
    }
    .info__content-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 767px){
    .info__container{
        margin: 40px 15px;
    }

    .info__image-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
}

@media (max-width: 320px){
    .info__container{
        margin: 33px 10px;
    }
    .info__title{
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;

    }
    .info__button{
        font-size: 10px;
        line-height: 12px;
        padding: 8px 20px;
        border-radius: 27px;
    }
    .info__content-container{
        width: 100%;
    }
    .info__image-container{
        flex-direction: column;
    }
    .info__tile{
        margin: 3px 3px;
        transform: scale(0.7);
    }
}