.main__container{
    background-image: url("../images/main_image.svg");
    height: 780px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main__text-loop{
    position: relative;
    width: max-content;
    margin-bottom: 11px;
    font-size: 80px;
    font-weight: 400;
    line-height: 120%;
    color: #FFF;
    animation: loop linear 15s infinite;
}

@keyframes loop {
    from {
        left: -100vw;
    }
    to {
        left: 100vw;
    }
}

@media (max-width: 320px){
    .main__container{
        height: 180px;
    }
    .main__text-loop{
        font-size: 40px;
    }
}